@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  *{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
      font-family: "Poppins", sans-serif;
}
.career{
    width: 100%;
    position: relative;
    font-size: 15px;
    color: #686868;
  //  background: #F8F8F8;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6;

    .career-detail-inner{
        padding:100px 0;
        .container{
            max-width: 1170px;
            padding-left: 15px;
            padding-right: 15px;
        
    .career-detail-section {
        position: relative;
        z-index: 1;
    }
        .right-background-pattern {
            background-image: url(../../Images/img29.png);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.07;
            z-index: -1;
        }
        .career-detail-container {
            .job-description {
                background-color: #FF9222;
                border-radius:25px;
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    padding: 24px 0;
                    li {
                        color:#fff;
                        font-family: "Poppins", sans-serif;
                        list-style: none;
                        display: inline-block;
                        padding: 0 8px;
                        width: 25%;
                        border-right: 1px solid #F8F8F8;
                        h5 {
                            color: #fff;
                            margin-bottom: 0;
                        }
                        &:last-child {
                            border-right: none;
                        }
                    }
                    @include mobile {
                        li {
                            width: 100%;
                            border-right: none;
                            border-bottom: 1px solid #F8F8F8;
                            padding: 10px 0;
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
                figure {
                    img {
                        width: 100%;
                    }
                }
            }
            .tab-container {
                margin-top: 50px;
                .nav-tabs {
                    display: flex;
                     .nav-item.active-head{
                          .nav-link{
                            animation: fade .8s;
                            transition: .8s;
                            background-color: #fff;
                            border-color: #dee2e6 #dee2e6 #fff;
                            border-bottom: none;
                            overflow: hidden;
                        color: #FF9222;
                    }
                    }
                    .nav-item.inActive{
                          .nav-link{
                         //   border: none;
                      //  color: #111111;
                    }
                    }
                    .nav-item{
                        cursor: pointer;
                        display: list-item;
                        unicode-bidi: isolate;
                    .nav-link {
                        font-family: "Poppins", sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.3;
                        text-transform: capitalize;
                        color: #111111;
                        border-radius: 0;
                        padding: 20px 25px;
                        margin-bottom: -1px;
                        background: 0 0;
                        border: 1px solid transparent;
                        display: block;
                        text-decoration: none;
                      //  transition: .4s ease-in-out;
                       // transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                    }
                  } 
                }
                .tab-content{
                    background-color: #fff;
                    padding: 30px;
                    border-color: #dee2e6 #dee2e6 ;
                    border-style: solid;
                    border-width: 0 1px 1px 1px;
                  //  border:1px  solid #d4d4d4;
                    .card{
                        border: none;
                        position: relative;
                        flex-direction: column;
                        min-width: 0;
                        word-wrap: break-word;
                        background-color: #fff;
                        background-clip: border-box;
                        overflow: hidden;
                        border-radius: .25rem;
                        transition: opacity .15s linear;
                        @media screen and (min-width: 768px) {
                             .card-header {
                                display: none;
                            }
                        }
                    .card-header {
                        padding: .5rem 1rem;
                        margin-bottom: 0;
                        background-color: rgba(0, 0, 0, .03);
                        border-bottom: 1px solid rgba(0, 0, 0, .125);
                        border: 1px solid #FF9222;
                    }
                    .collapse{
                        display: block;
                    .card-body {
                        background: #fff;
                        padding: 1rem 1rem;
                        border: none;
                        color: #686868;
                        overflow: hidden;
                        padding: 0 20px;
                        animation: fade .4s;
                        p {
                            line-height: 1.6;
                            margin: 0 0 15px;
                            word-wrap: break-word;
                            font-size: 15px;
                        }
                        ul {
                            list-style:disc;
                            padding-left: 2rem;
                            li {
                                margin-bottom: 5px;
                                position: relative;
                                &::before {
                                    content: '';
                                 position: absolute;
                                 top: 25%;
                                 left: -1rem;
                                 width: 5px;
                                 height: 5px;
                                 line-height: 5px;
                                 border-radius: 50%;
                                 background: #686868;
                                }
                            }
                        }
                    }
                    .card-body.active {
                        display: block;
                        padding: 15px 20px;
                        transition:.5s ease-in-out;
                      }
                    }
                }
                }
            }
        }
        @include mobile {
            .nav {
                display: block;
                &.nav-tabs {
                    a {
                        border-width: 1px 1px 0 1px;
                        border-style: solid;
                        border-color: #dee2e6;
                        padding: 15px 20px;
                        font-size: 15px;
                        &:hover,
                        &:focus,
                        &.active {
                           // background-color: $hover-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    
    
    .sidebar {
        .widget-bg {
            background-color: #F8F8F8;
            border-radius:25px;
            margin-bottom: 50px;
            padding: 30px;
            .bg-title {
                background-color:#fff;
                border-radius:25px;
                padding: 15px;
                text-align: center;
                margin-bottom: 25px;
            }
        }
        .sidebar-list {
            ul {
                padding: 0;
                margin: 0;
            }
            li {
                list-style: none;
                margin-bottom: 8px;
                i {
                    color: #FF9222;
                    margin-right: 10px;
                    font-size: 14px;
                }
            }
        }
        .faq-widget {
            h5{
                font-size: 18px;
            }
            .accordion-content {
                .card {
                    box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
                    border-radius: 0px;
                    margin-bottom: 20px;
                    border: none;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    .iconclose{
                        a{
                            &:before {
                                content: "\f107"!important;
                                display: block;
                                font-weight: 900;
                                font-family: "Font Awesome 5 Free";
                                float: right;
                                position: absolute;
                                top: 50%;
                                transform: translate(0, -50%);
                                right: 15px;
                            }
                        }
                    }
                    .card-header {
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        margin: 0;
                        cursor: pointer;
                        &:first-child {
                            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
                        }             
                        h6{
                            margin: 0;
                        a {
                            font-size: 15px;
                            padding: 15px 20px;
                            text-transform: capitalize;
                            color: #383838;
                            display: block;
                            width: 100%;
                            text-decoration: none;
                            font-weight: 500;
                            position: relative;
                            text-align: left;
                            &:before {
                                content: "\f106";
                                display: block;
                                font-weight: 900;
                                font-family: "Font Awesome 5 Free";
                                float: right;
                                position: absolute;
                                top: 50%;
                                transform: translate(0, -50%);
                                right: 15px;
                            }
                        }
                    }
                    }
                    .card-body {
                        font-size: 15px;
                        padding: 0 20px 20px;
                    }
                }
            }
        }
        .upload-widget {
            .widget-icon {
                background-color: #FF9222;
                border-radius: 100%;
                color: #fff;
                height: 100px;
                width: 100px;
                text-align: center;
                line-height: 100px;
                font-size: 48px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
            p a {
                color: #FF9222;
            }
            .or-style {
                color: #FF9222;
                display: table;
                font-size: 18px;
                font-weight: 700;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                padding-left: 70px;
                padding-right: 70px;
                &:before,
                &:after {
                    background-color: #d1d1d1;
                    content: "";
                    width: 60px;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    display: inline-block;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
            .button-round {
                margin-top: 20px;
                background-color: #FF9222;
                border: none;
                border-radius: 25px;
                color: #ffffff;
                display: inline-block;
                position: relative;
                font-size: 15px;
                line-height: 1.1;
                padding: 15px 28px;
                font-weight: 600;
                font-family: "Poppins", sans-serif;
                text-transform: uppercase;
                transition: background-color 0.3s;
            }
        }
    }
}
}