@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
  }
  @mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
  }
  @mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
  }
  @mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
  }
  @keyframes dropdown {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  *{
    margin:0;
    padding: 0;
    list-style: none;
      font-family: "Poppins", sans-serif;
  }
  ul{
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  footer{
    width: 100%;
    background-image: radial-gradient(at top left, #0B1061, #087CE3);
    padding-top: 150px;
    position: relative;
    z-index: 1;
        .footer-shape {
            transform: rotate(180deg);
            position: absolute;
            width: 100%;
            top: 0;
            svg {
                height: 50px;
                width: 100%;
                transform: rotateY(180deg);
                path {
                    fill: #FFFFFF;
                }
            }
        }
        .overlay {
            background-color: transparent;
            background-image: url(../Images/banner-pattern.png);
            background-repeat: no-repeat;
            background-position: center left;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .top-footer {
            padding-bottom: 55px;
            .container{
             max-width: 1170px;
             padding-left: 15px;
             padding-right: 15px;
            }
        }
        .footer-logo {
            margin-bottom: 20px;
            a{
                figure{
                    display: flex;
                    align-items: center;
                    margin: auto 0;
                     position: relative;
                img{
                   max-width: 50%;
                   display: flex;
                   justify-content: center;
                  align-items: center; 
                    background: inherit;
                }
            }
            }
        }
        .bottom-footer {
            border-top: 1px solid rgba(#fff, 0.14);
            padding: 20px 0;
            .container{
                max-width: 1170px;
                padding-left: 15px;
                padding-right: 15px;
            .copy-right {
                color: #fff;
                text-align: right;
                a {
                    color: #fff;
                    &:hover {
                        color:#FF9222;
                    }
                }
            }
            .social-links {
                ul{
                    padding: 0;
                    display: flex;
                    gap: 10px;
                li {
                    margin: 0 5px;
                    a {
                        background-color: rgba(8, 124, 227, 0.7);
                        border-radius:100%;
                        color: #fff;
                        display: block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        transform: transition(background-color 0.4s);
                        &:hover {
                            background-color: #FF9222;
                        }
                    }
                }
            }
            }
         }
        }
        @include tablet {
            .bottom-footer {
                text-align: center;
            }
            .social-links {
                margin-bottom: 20px;
            }
        }
        @include mobile {
            padding-top: 100px;
            .footer-shape {
                svg {
                    height: 25px;
                }
            }
            .top-footer {
                padding-bottom: 25px;
            }
        }
    }
    .footer-primary {
        .widget {
            color: darken(#fff, 12%);
            .widget-title {
                color: #fff;
                font-size: 22px;
                font-weight: 500;
                line-height: 1.1;
                margin-bottom: 30px;
                position: relative;
                padding-left: 15px;
                &:before {
                    background-color: #FF9222;
                    content: "";
                    display: table;
                    height: 100%;
                    width: 2px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            ul {
                li {
                    margin-bottom: 10px;
                    a {
                        color: #fff;
                        &:hover,
                        &:focus,
                        &:active {
                            color: #FF9222 ;
                        }
                    }
                }
            }
            &.offer_menu {
                margin: auto;
                padding-left: 50px;
                @include tablet{
                    padding-left: 0;
                }
                ul {
                    li {
                        border-bottom: none;
                        padding-bottom: 10px;
                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }
            &.widget_menu {
                max-width: 200px;
                        margin: auto;
                ul {
                    li {
                          border-bottom: 1px solid rgba(#fff, 0.14);
                        padding-bottom: 10px;
                        position: relative;
                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }
            &.widget-download {
                .widget-btn-wrap {
                    margin: 0 -6px;
                    a {
                        padding: 0 6px;
                    }
                }
            }
        }
        @include laptop {
            .widget {
                margin-bottom: 30px;
            }
        }
    }